<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="boost" version="1.61.0.0" targetFramework="Native" />
  <package id="boost_chrono-vc100" version="1.61.0.0" targetFramework="Native" />
  <package id="boost_date_time-vc100" version="1.61.0.0" targetFramework="Native" />
  <package id="boost_filesystem-vc100" version="1.61.0.0" targetFramework="Native" />
  <package id="boost_iostreams-vc100" version="1.61.0.0" targetFramework="Native" />
  <package id="boost_system-vc100" version="1.61.0.0" targetFramework="Native" />
  <package id="boost_thread-vc100" version="1.61.0.0" targetFramework="Native" />
  <package id="wtl" version="9.1" targetFramework="Native" />
</packages>